@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/fonts/DMSans-Regular.ttf"); }
  
  @font-face {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/fonts/DMSerifDisplay-Regular.ttf"); }

    @font-face {
      font-family: "Fira Code";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/src/fonts/FiraCode-Regular.ttf"); }