body {
    --primary: #003f49;
    --secondary: #4A61DD;
    --black: #1E3349;
    --white: #FFFFFF;
    --light: #f3f4f7;
    --dark: #1e283e; }
  
  .darkmode {
    --primary: #003f49;
    --secondary: #3C5DD9;
    --black: #FFFFFF;
    --light: #1e283e;
    --white: #1E3349;
    --dark: #F3F4F7; }
  